* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color: #ef5f4c;
  --surface-color: #f0e9e9;
  --background-color: #fffafa;
  --skeleton-color: #d9d9d9;
  --shape-transparency: hsla(0, 0%, 100%, 0.562);
  --text-color-primary: #313131;
  --text-color-secondary: #6c6c6c;

  --font-family: "Poppins", sans-serif;
  --text-lg: bold 32px/125% var(--font-family);
  --text: 16px/150% var(--font-family);
  --text-md: 14px 175% var(--font-family);
  --text-sm: 12px/175% var(--font-family);
}

body {
  font: var(--text);
  color: var(--text-color-secondary);
  background-color: var(--background-color);
}

nav a {
  text-decoration: none;
  color: inherit; /* Remove a cor azul padrão e insere a cor do elemento pai */
}

a:hover {
  /* Colore o texto "Explorer e Minhas viagens" quando passar mouse em cima. Acrescenta Underline no texto. */
  color: var(--brand-color);
  text-decoration: underline;
}

.container {
  padding-inline: 32px;
  max-width: 1280px;
  margin-inline: auto;
}

.bg-surface-color {
  background-color: var(--surface-color);
}
